h1 {
    background-color: black;
    color: white;
    font-style: italic;
    width: 100%;
}
span {
    color: aqua;
}
h2 {
    background-color: #620096;
    color: white;
    text-align: center;
    width: 100%;
}
h3 {        
    text-align: end;
    background-color: #7cdaf9;
    color: #620096;
    width: 100%;
}
body {
    overflow: scroll;
}